.card-img-top {
  border-radius: 25px;
}
.card {
  border-radius: 10px;
  // width: 16rem;
  height: 492px;
}

.img-movil {
  flex-shrink: 0;
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

/*
.card-img-top, .card-img-bottom {
  flex-shrink: 0;
  width: 150px;
  height: 200px;
}
*/

/*

.card-img, .card-img-top, .card-img-bottom {
  flex-shrink: 0;
  width: 150px;
  height: 200px;
}
*/
